.salesmain
{
    margin-top: 20px;
    height: 100px;
    width: 100%;
    border: 1px ;
    border-radius:  10px 10px;
    box-sizing: border-box;
    box-shadow: 1px 1.5px 0px 0px rgba(0.1, 0.1, 0.1, 0.1), 0px 0px 1.5px 1px rgba(0.1, 0.1, 0.1, 0.1);
    

}
.fromtomonth
{
    display: flex;
    justify-content:space-between;
    padding-top: 10px;
}
.fields
{
    display: flex;
    justify-content:space-between;
   
}
.salesheader
{
    height: 670px;
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
    background-color:white;
}
.salesselectlabelmonth
{
    margin-right: 190px;
}

.filterb
{
    margin-right: 100px;
    background-color: rgb(34, 7, 63);
    width: 100px;
    height: 40px;
    margin-top: 25px;
    color: white;
    border-radius:  5px 5px;
    box-sizing: border-box;
    
}
.salesselectmonth
{
    margin-left: 10px;
}
.fromlabelmonth
{
margin-left: -100px;
}
.tolabelmonth
{
    margin-left: -35px;
}
.salesheader2
{
    display: flex;
    justify-content: space-between;
}

.reportpurchases
{
    width: 400px;
    height: 500px;
    border: 1px ;
    border-radius:  10px 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reportsalesreturn
{
    width: 390px;
    height: 250px;
    border: 1px ;
    border-radius:  10px 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reportpurchasereturn
{
    
    width: 390px;
    height: 250px;
    border: 1px ;
    border-radius:  10px 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.headingsale
{
    margin-top: 20px;
    margin-right: 300px;
}
.headingpurchase{
    margin-top: 20px;
    margin-right: 240px;
}
.headingsalereturn
{
    
    padding-top: 18px;
    margin-right: 180px;
}
.headingpurchasereturn
{
    padding-top: 18px;
    margin-right: 130px;

}
.dayendcol1
{
    padding-top:80px;
    padding-left: 20px;
    display: flex;
   
}

.dayendform1
{
    width: 145px;
    height: 32px;
}
.colh4
{
    font-weight: 5px;
    font-size: 22px;
    display: flex;
    
    
}
.classparticular
{
    display: flex;
    justify-content: space-evenly;
    
}
.phead
{
    padding-left: 10px;
}
.classphead2
{
    display: flex;
    
}
.classdatevalue
{
    padding-left: 25px;
}
.inputs
{
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color:black;
}
.tablecal, .tablecal th,.tablecal td
{
    border: 1px solid black;
}
.tablecal td
{
    
    width: 150px;
}
.tableclass
{ 
    text-align: left;
    width: 400px;
    margin-left: 35px;

}
.mods
{
    display: flex;
    justify-content:end;
}

.tableclass,.tableclass th,.tableclass td
{
    border: 1px solid black
}

.tablecal
{
    margin-left: 15px;
}
.modalr .modal-dialog {
    max-width: 500px;
    margin:  auto;
    margin-left: -380px;
    padding-top:15px ;
  }
 @media screen and (max-width:992px) {
   
    
   
    
    .salesheader2{
      display: flex;
    }
    .salesheader{
      display: flex;
      flex-direction: column;
    }
    .salesmain {
        height: 300px;
      display: inline-block;
    }
   
    .modalr .modal-dialog {
        max-width: 500px;
        margin:  auto;
        margin-right: 100px;
        padding-top:15px ;
      }
      .fromtomonth
{
    display: flex;
    justify-content:space-between;
    padding-top: 10px;
}
  

  } 
  
  /* Extra Small <=576 */
  @media screen and (max-width:558px) {
    .salesheader {
      display: flex;
  
    }
    .fromtomonth
{
    display: flex;
    justify-content:space-between;
    padding-top: 10px;
}
    .salesmain
  {

    height: 150px;
    display:inline-block;
  }
 
    .salesheader2
    {
      display: inline-block;
    
    }
    .fields
    {
        display: inline-block;
        height: 500px;
    }
    
  }
 
  /* Styles for screens larger than 992px */
@media screen and (min-width: 992px) {
    .modalr .modal-dialog {
      max-width: 500px;
      margin:  auto;
      padding-top:15px ;
    }
      .classparticular
      {
          display: flex;
         justify-content: space-around;
       
      }
     
    }
  
  
 
  
  /* Styles for screens smaller than 576px */
  @media screen and (max-width: 575px) {
    .modalr .modal-dialog {

      max-width:85%;
      margin:  auto;
      margin-right:6px;
    }
    .headingmonth{

      margin-left: 180px;
      }
    .classparticular
    {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
    .fromtomonth
{
    display: flex;
    justify-content:space-between;
    padding-top: 10px;
}
.filterb
{
    margin-right: 165px;
}

.reportsales
{
    width: max-content;
    height: max-content;
}
   
  }

  